.header{


    display: grid;
    grid-template-rows: 1fr ;
    grid-auto-columns:  1fr  1fr  1fr  1fr;
    grid-template-areas:
  "title user messsag last"
;
}
.header_title{

    font-size: 25px;
    group-reset: title;
    background-color: #61dafb;
}
.header_users_count{
    font-size: 20px;
    background-color: crimson;
    group-reset:user;
}
.header_messages_count{
    font-size: 20px;
    background-color: cornflowerblue;
    roup-reset: messsag;
}
.header_last_message_date{
    font-size: 20px;
    background-color: chartreuse;
    roup-reset:last;

}