
.App {
margin: 1% 2%;

  display: grid;
  grid-template-rows: 1fr 100% 2fr;
  grid-auto-columns:  1fr;
  grid-template-areas:
  "Hed "
  "MesList "
  "MesInput "
;
}
.Header{

  grid-area: Hed;
}
.MessageList{
  grid-area: MesList;
}
.MessageInput{
  grid-area: MesInput;
}


